.about {
  &__image-box {
    display: block;
    width: 12rem;
    border-radius: 1rem;
    overflow: hidden;
    margin: 2.8rem auto;
  }

  &__text {
    text-align: justify;
    line-height: 1.4;
  }
}
