.projects {
  &__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.4rem auto 0 auto;

    .projects-card {
      box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.8);
      border-radius: 0.4rem;
      overflow: hidden;
      background-color: $secondary-color;
      margin: 2rem;
      max-width: 25rem;
      min-height: 36rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & img {
        height: 14rem;
        object-fit: cover;
        object-position: top;
      }

      &__heading {
        margin: 2rem 1rem 0 1rem;
        text-align: center;
        font-size: 1.8rem;
      }

      &__description {
        padding: 2rem;
        font-size: 1.4rem;
        text-align: justify;
        line-height: 1.4;
        margin-bottom: auto;
      }

      &__links-group {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 2rem;

        .projects-card__link,
        .projects-card__link:link,
        .projects-card__link:visited {
          display: block;
          color: $secondary-color;
          background-color: $primary-color;
          padding: 0.5rem 1rem;
          border-radius: 2px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          transition: all 200ms;

          &:hover {
            color: lighten($secondary-color, 20%);
            transform: translateY(-2px);
            box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
          }

          &:active {
            transform: translateY(0);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          }

          @media screen and (min-width: 75em) {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
