.skills {
  &__heading {
    text-align: center;
    font-size: 2.4rem;
    margin: 2.8rem 0;
  }

  &__group {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .skills__card {
      @include flex-column;
      margin: 1.6rem;

      .skills__icon {
        width: 8rem;
        margin-bottom: 1rem;
      }
    }
  }
}
