/* COLORS */
$primary-color: #4c4637;
$secondary-color: #b1b299;
$tertiary-color: #f6f0e0;
$accent-color: #ffd700;
$font-color-light: #fff;
$font-color-dark: $primary-color;

/* FONTS */
$primary-font: "Montserrat";
